body {
    font-family:"Gill Sans MT";
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
}
/* Global */
.Container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-image: linear-gradient(black,#181818);
    border-bottom: white 3px solid;
    color: white;
    padding-top: 20px;
    min-height: 70px;
    text-transform: uppercase;
}

header img{
    float: left;
    padding-left: 30px;
    padding-bottom: 20px;
}

header nav {
    float: right;
}

header li {
    float: left;
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}

header ul {
    margin: 0;
    padding-top: 40px;
}

#Last\ Item {
    padding-right: 0px;
}

#Social li {
    padding-left: 5px;
    padding-right: 5px;
}

header ul img {
    width: 30px;
}

header a {
    color: white;
    text-decoration: none;
}

/* Main Section */

#Main {
    min-height: 400px;
    background: url("Images/space.jpg") no-repeat 0 -100px ;
    text-align: center;
    background-size: cover;
    border-bottom: black 6px solid;
}
#Main h2{
    font-family: "Cambria Math";
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

#Main p{
    font-family: "Bookman Old Style","Britannic Bold","Arial Rounded MT Bold";
    color: white;
    font-size: 25px;
    font-style: italic;
}

#Offers {
    padding-top: 20px;
    padding-left: 150px;
    background-color: #181818;
    border-bottom: black 6px solid;
}

#Offers h2{
    text-align: center;
    margin: 0 30%;
    font-size: 40px;
    color: #E9E9E9;
    width: 30%;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: white 3px solid;
}

#Offers .boxOffers {
    padding-top: 10px;
    margin-right: 30px;
    margin-left: 38px;
    margin-bottom: 30px;
    width: 25%;
    float: left;
    display: inline;
}

#Offers .boxOffers img {
    width: 200px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: darkslategrey 1px solid;
}

#Offers .boxOffers p{
    text-align: center;
    font-size: 25px;
    color: #E9E9E9;
}

#quote {
    background-color: #4c4c4c;
    text-align: center;
    font-size: 25px;
    color: #E9E9E9;
    padding-bottom: 5px;
    border-bottom: black 6px solid;
}

#Team {
    background-color: #1d1d1d;
    padding-top: 20px;
    padding-left: 150px;
    border-bottom: black 6px solid;
}

#Team h2{
    text-align: center;
    margin: 0 33%;
    font-size: 40px;
    color: #E9E9E9;
    width: 25%;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: white 3px solid;
}

#Team .boxTeam {
    padding-top: 10px;
    margin-right: 30px;
    margin-left: 38px;
    margin-bottom: 30px;
    width: 25%;
    float: left;
    display: inline;
}

#Team .boxTeam img {
    width: 230px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: darkslategrey 1px solid;
}

#Team .boxTeam p{
    text-align: center;
    font-size: 25px;
    color: #E9E9E9;
}

#Group img {
    width: 900px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: 320px;
    margin-bottom: 30px;
    border: darkslategrey 1px solid;
}
#Location h2{
    text-align: center;
    margin: 0 38%;
    font-size: 40px;
    color: #E9E9E9;
    width: 25%;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: white 3px solid;
}

#Location{
    background-color: #242424;
}

iframe {
    padding-left: 370px;
}

#Text {
    padding-top: 20px;
    background-color:#1d1d1d ;
    color: #E9E9E9;
    font-size: 20px;
}

#Text img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
    border: darkslategrey 1px solid;
}

#Text h2 {
    text-align: center;
}



